<div class="container-fluid total">
    <div class="row login">
        <div class="col-12">
            <div class="logo row">
                <div class="col-5">
                    <img src="../../../assets/img/LogoLogin.png" alt="img-ticket">
                </div>
                <div class="col-7">
                    <p class="h6 my-0">Portal</p>
                    <p class="h4 my-0">Sou Parceiro</p>
                    <p class="h2 my-0">Abastecimento</p>
                </div>
            </div>
            <form class="row d-flex justify-content-center mt-4" action="#" method="post">
                <label for="Código" class="text-uppercase text-center">CoDIGO</label>
                <input type="text" name="codigo" id="codigo" class="form-input rounded-pill">
                <label for="Código" class="text-uppercase">SENHA</label>
                <input type="text" name="codigo" id="codigo" class="form-input rounded-pill">
        
                <button type="submit" class="btn btn-sm mt-3 w-50 rounded-pill">Entrar</button>
            </form>
        
            <div class="d-flex justify-content-center flex-wrap mt-5">
                <a href="#" class="text-center w-100">
                    Esqueci meu login ou senha
                </a>
                <br>
                <a href="#" class="text-center w-100">
                    Duvidas de acesso?
                </a>
            </div>
        </div>
    </div>

    <div class="row footer">
        <div class="col-6 d-flex align-items-center">
            <img src="../../../assets/img/Edenred.png" alt="img-ticket" class="mr-5">
        </div>
        <div class="col-6">
            <img src="../../../assets/img/aqui_voce_podera.png" alt="img-ticket" class="ml-5">
        </div>
    </div>
</div>